<%- include('topHTML.ejs') %>
    <div class="wrapper">
        <%- include('navbar.ejs') %>
        <div class="bg-gray-50 dark:bg-gray-900 flex flex-col px-10 py-8 mx-auto md:h-screen lg:py-0 wrapper-element w-full ">
            <div class="py-10 px-10">
                <div>
                    <h1 class="text-white text-3xl font-semibold">Welcome, <%=username%></h1>
                </div>
                <div class="pt-3">
                    <a href="create-election" class="text-purple-400 font-medium hover:text-purple-500">Create a new election</a>
                </div>
                <div>
                    <% if (elections.length == 0) { %>
                        <div class="pt-5">
                            <p class="text-white font-semibold">You haven't created any elections yet!</p>
                        </div>
                    <% } %>
                </div>
                <div class="pt-10">
                    <% for (var i=0; i<elections.length; i++){ %>
                        <a href="/handle-election/<%= elections[i].id %>">
                            <div class="h-full w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 items-center text-center inline-block mr-10 mb-10">
                                <p class="text-white py-10 font-semibold text-xl"><%=elections[i].name%></p>
                                <a onclick="deleteElection(<%= elections[i].id %>)" class="text-white delete-icon"><i class="fa-solid fa-trash pb-5"></i></a>
                            </div> 
                        </a>
                    <% } %>
                </div>    
            </div>
        </div>
    </div>
<%- include('bottomHTML.ejs') %>