<%- include('topHTML.ejs') %>
    <div class="wrapper">
        <%- include('navbar.ejs') %>
        <div class="bg-gray-50 dark:bg-gray-900 flex flex-col px-10 py-8 mx-auto md:h-screen lg:py-0 wrapper-element w-full ">
            <div class="px-10 py-10">
                <h1 class="text-white text-4xl font-semibold inline"><%= electionDetail.name %></h1>
                <a href="/edit-election-title/<%= electionDetail.id %>"><i class="pl-2 fa-solid fa-pen-to-square text-white"></i></a>
            </div>
            <div class="text-white px-10 py-3">
                <p class="font-semibold pb-3">Your election has 0 questions in the ballot.</p>
                <a href="#" class="font-medium text-purple-400 hover:text-purple-500 ">Manage Questions</a>
                <p class="font-semibold pt-3">Your election has 0 registered voters.</p>
                <div class="pt-3">
                    <a href="#" class="font-medium text-purple-400 hover:text-purple-500 block">Manage Voters</a>
                    <p class="pt-2"><a href="#" class="font-medium text-purple-400 hover:text-purple-500">Launch election</a></p>
                </div>
            </div>
        </div>
    </div>
<%- include('bottomHTML.ejs') %>