<%- include('topHTML.ejs') %>
<div class="wrapper">
    <%- include('navbar.ejs') %>
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 wrapper-element w-full bg-gray-50 dark:bg-gray-900">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                OVP - An Online Voting Platform    
            </a>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Register Voters
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="/register-voters/<%=id%>" method="post">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <div>
                            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Voter Id</label>
                            <input type="text" name="id" id="id" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="VoterID goes here" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Voter Password</label>
                            <input type="password" name="password" id="password" placeholder="Voter password goes here" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400 text-center">
                            <button type="submit" class="text-black bg-slate-100 hover:bg-slate-200 font-medium rounded px-5 py-2 inline-block">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('bottomHTML.ejs') %>